<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <appSettings>
    <add key="Modules" value=""/>
    <add key="NewVersionServer" value=""/>
    <add key="EnableDiagnosticActions" value="False"/>
    <!--
    Use the one of predefined values: None, ApplicationFolder, CurrentUserApplicationDataFolder. The default value is ApplicationFolder.
    <add key="TraceLogLocation" value="CurrentUserApplicationDataFolder"/>
    <add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
    <add key="Languages" value="de;es;ja"/>
    -->
    <!-- Use one of the following predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
    <add key="eXpressAppFrameworkTraceLevel" value="3"/>
    
    <!-- VideoTranslator Configuration -->
    <add key="VideoTranslator_FfmpegPath" value="..\..\..\..\..\ffmpeg\ffmpeg.exe"/>
    <add key="VideoTranslator_YtDlpPath" value="yt-dlp"/>
    <add key="VideoTranslator_WhisperPath" value="..\..\..\..\..\whisper.cpp\whisper-cli.exe"/>
    <add key="VideoTranslator_WhisperModelPath" value="..\..\..\..\..\whisper.cpp"/>
    <add key="VideoTranslator_VoskModelPath" value="C:\Users\Administrator\AppData\Roaming\Subtitle Edit\Vosk\vosk-model-en-us-0.22"/>
    <add key="VideoTranslator_PurfviewFasterWhisperPath" value="..\..\..\..\..\第三方项目\subtitleedit\Subtitle Edit\Whisper\Purfview-Whisper-Faster\faster-whisper-xxl.exe"/>
    <add key="VideoTranslator_PurfviewFasterWhisperModelPath" value="C:\Users\Administrator\AppData\Roaming\Subtitle Edit\Whisper\Purfview-Whisper-Faster\_models\faster-whisper-base"/>
    <add key="VideoTranslator_BaseDirectory" value="videoProjects"/>
    <add key="VideoTranslator_LMStudioApiUrl" value="http://192.168.1.154:1235/v1/chat/completions"/>
    <add key="VideoTranslator_KeepFiles" value="true"/>
    <add key="VideoTranslator_TTSServers" value="http://192.168.1.154:8000/generate,http://192.168.1.154:8001/generate,http://192.168.1.154:8002/generate,http://192.168.1.154:8003/generate,http://192.168.1.154:8004/generate"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="EasyTestConnectionString" connectionString="Data Source=.;Integrated Security=SSPI;Pooling=false;Initial Catalog=VTEasyTest;TrustServerCertificate=True"/>-->
    <add name="ConnectionString" connectionString="Data Source=(localdb)\mssqllocaldb;Integrated Security=SSPI;Pooling=false;Initial Catalog=VT02;TrustServerCertificate=True" />
    <!--
    Use the following connection string to connect to a Jet (Microsoft Access) database:
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=VT.mdb;Mode=Share Deny None;"/>
    -->
  </connectionStrings>
</configuration>
