<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- VideoTranslator Configuration -->
		<add key="VideoTranslator_FfmpegPath" value="D:\VideoTranslator\ffmpeg\ffmpeg.exe"/>
		<add key="VideoTranslator_YtDlpPath" value="yt-dlp"/>
		<!--<add key="VideoTranslator_WhisperPath" value="D:\stt\whisper.cpp.exe-1.8.3\whisper-cli.exe"/>-->
		<add key="VideoTranslator_WhisperPath" value="C:\Users\Administrator\AppData\Roaming\Subtitle Edit\Whisper\Cpp\whisper-cli.exe"/>
		<add key="VideoTranslator_WhisperModelPath" value="D:\VideoTranslator\whisper.cpp\ggml-large-v3.bin"/>
		<add key="VideoTranslator_BaseDirectory" value="videoProjects"/>
		<add key="VideoTranslator_LMStudioApiUrl" value="http://127.0.0.1:1235/v1/"/>
		<add key="VideoTranslator_KeepFiles" value="true"/>
		<add key="VideoTranslator_TTSServers" value="http://192.168.1.154:8000/generate,http://192.168.1.154:8001/generate,http://192.168.1.154:8002/generate,http://192.168.1.154:8003/generate"/>
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(localdb)\mssqllocaldb;Integrated Security=SSPI;Pooling=false;Initial Catalog=VT02;TrustServerCertificate=True" />
	</connectionStrings>
</configuration>
